.aboutSectionBg{
  background: var(--bg);
}
.aboutSection{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* LEFT */
.aboutSectionDescription{
  display: flex;
  flex-direction: column;
  gap:  30px;
}
.aboutSectionMedia {
  border-radius: 20px;
}


/* RIGHT */

.aboutSectionInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* INFO LIST */

.aboutInfoList {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aboutInfoItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #2a2a2a;
  padding-bottom: 16px;
}

.label {
  font-size: 10px;
  opacity: 0.6;
  text-transform: uppercase;
}

.text{
  text-align: left;
  font-size: 14px;
}

/* TAGS */

.aboutTagsBlock {
  margin-top: 40px;
}

.aboutTagsTitle {
  font-size: 12px;
  opacity: 0.6;
}

.aboutTags {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.aboutTagsList {
  border: 1px solid #1db4b0;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
}

/* ========================= */
/* 📱 RESPONSIVO */
/* ========================= */

@media (max-width: 900px) {
  .aboutContent {
    grid-template-columns: 1fr;
  }
  .aboutSectionInfo {
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .aboutTags {
    gap: 8px;
  }

  .aboutTagsList {
    font-size: 12px;
    padding: 5px 10px;
  }
}