.hero {
  position: relative;
  min-height: 100dvh;
  background: url('../../../assets/images/background/bg-hero.jpg') center/cover no-repeat;
  overflow: hidden;
  isolation: isolate;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

/* 🔥 container */
.heroTitle {
  position: absolute;
  top: 50%;
  left: 0; /* 🔥 muda isso */
  transform: translateY(-50%); /* 🔥 remove translateX */

  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;

  z-index: 1;
}

/* 🔥 track */
.heroTrack {
  display: flex;
  flex-direction: row; /* 🔥 horizontal */
  gap: 80px; /* 🔥 espaçamento premium */
  width: max-content; /* 🔥 essencial pro loop */
}

/* 🔥 texto */
.heroTrack span {
  font-size: clamp(64px, 15vw, 340px);
  font-weight: 500;
  color: white;

  mix-blend-mode: difference;

  white-space: nowrap; /* 🔥 MUITO importante */
}
.heroTrack span::after {
  content: "•";
  margin:140px;
  opacity: 0.6;
}

/* 🔥 FADE REAL (igual site) */
.heroTitle::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0.98) 0%,
    rgba(0,0,0,0.8) 10%,
    rgba(0,0,0,0.2) 25%,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.2) 75%,
    rgba(0,0,0,0.8) 90%,
    rgba(0,0,0,0.98) 100%
  );

  pointer-events: none;
}
.heroFooter {
  position: absolute;
  bottom: 24px; width: 100%;
  padding: 0 48px; 
  display: flex; 
  justify-content: space-between; 
  align-items: baseline;
  font-size: 14px; 
  color: var(--text-muted); 
  z-index: 10;
}
.heroFooter div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.heroFooterLink{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
.heroFooterLink:hover{
  color: #FFFFFF;
}

.heroFooterDev{
  text-transform: capitalize;
  font-size: 48px; 
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .heroTitle::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0.88) 0%,
    rgba(0,0,0,0.8) 10%,
    rgba(0,0,0,0) 25%,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0) 75%,
    rgba(0,0,0,0.8) 90%,
    rgba(0,0,0,0.98) 100%
  );

  pointer-events: none;
}
  .heroTrack span::after {
    content: "•";
    margin:70px;
    opacity: 0.6;
  }
  .heroFooter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px;
    gap: 8px;
  }
  .heroFooterDev {
    font-size: 30px;
  }
}