.sectionTitle{
  text-transform: none;
  font: 600 4.5rem/0.87 "Inter", sans-serif;
  text-align: start;
  color: #FFFFFF;
  max-width: 24ch;
}
.line{
  display: block;
}
.sectionTitleSpan{
  color: #00B7B7;
}
@media(max-width:750px){
  .sectionTitle{
    font-size: 3rem;
  }
}