.title{
  text-transform: none;
  font: 500 4.5rem/0.87 "Inter", sans-serif;
  text-align: start;
  color: #FFFFFF;
  max-width: 24ch;
}
.line{
  display: block;
}
.titleSpan{
  color: #00B7B7;
}
@media(max-width:750px){
  .title{
    font-size: 3.5rem;
  }
}