.subTitle{
  text-transform: none;
  font: 500 2.5rem/0.87 "Inter", sans-serif;
  text-align: start;
  color: #FFFFFF;
  max-width: 24ch;
}
.line{
  display: block;
}
.subTitleSpan{
  color: #00B7B7;
}